// TODO Delete file
$dark-primary-text: rgba(black, 0.87);
$light-primary-text: white;

$green: (
  50: #e6f7ea,
  100: #c3eacb,
  200: #9cdcaa,
  300: #71cf88,
  400: #4cc46e,
  500: #1db954,
  600: #10aa4a,
  700: #00973e,
  800: #008633,
  900: #00671e,
  A100: #c7eac0,
  A200: #a2dc98,
  A400: #59c448,
  A700: #159700,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    -700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $light-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  ),
);

$grey: (
  50: #fdf6f6,
  100: #f5eeee,
  200: #eae3e3,
  300: #d8d1d1,
  400: #b3adad,
  500: #938c8c,
  600: #6b6565,
  700: #575252,
  800: #393434,
  900: #191414,
  A50: #fdf6f9,
  A100: #f5eef1,
  A200: #eae3e6,
  A300: #d8d1d4,
  A400: #b3adb0,
  A500: #938c8f,
  A600: #6b6568,
  A700: #575254,
  A800: #393436,
  A900: #191416,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A50: $dark-primary-text,
    A100: $dark-primary-text,
    A200: $dark-primary-text,
    A300: $dark-primary-text,
    A400: $dark-primary-text,
    A500: $light-primary-text,
    A600: $light-primary-text,
    A700: $light-primary-text,
    A800: $light-primary-text,
    A900: $light-primary-text,
  ),
);
