$spacing: 2rem;
$grey-link: hsl(0, 0%, 50%);

.card {
  width: 25%;
  margin: auto;
  margin-top: 1rem;
  &:hover {
    filter: brightness(120%);
    cursor: pointer;
  }
}
.link {
  &:hover {
    cursor: pointer;
  }
}
