<p-toolbar>
  <div class="p-toolbar-group-left">
    <button
      pButton
      type="button"
      icon="pi pi-bars"
      class="p-button-rounded p-button-outlined p-button-text mt-1 mr-2"
    ></button>
    <button
      pButton
      type="button"
      label="Spotify Clone"
      class="p-button-lg p-button-text"
    ></button>
  </div>

  <div class="p-toolbar-group-right">
    <p-button
      type="button"
      icon="pi pi-youtube"
      label="Show"
      styleClass="p-button-rounded p-button-lg"
      (click)="menu.toggle($event)"
    ></p-button>
    <p-tieredMenu #menu [model]="items" [popup]="true"></p-tieredMenu>
  </div>
</p-toolbar>
<div class="grid grid-nogutter">
  <div class="col-3"><spotify-sidenav></spotify-sidenav></div>
  <div class="col-9"><router-outlet></router-outlet></div>
</div>
