<div #toolbar id="toolbar" class="flex col-12" style="height: 15vh">
  <div class="flex flex-none align-items-start col-2">
    <button
      pButton
      type="button"
      icon="fa-solid fa-bars"
      class="p-button-rounded p-button-outlined p-button-text mt-1 mr-2"
    ></button>
    <button
      pButton
      type="button"
      label="Spotify++"
      class="p-button-lg p-button-text"
      (click)="navigate('dashboard')"
    ></button>
  </div>
  <div class="flex flex-grow-1 flex-column col-8">
    <spotify-player *ngIf="loggedIn"></spotify-player>
  </div>
  <div class="flex flex-none col-2 justify-content-end">
    <p-splitButton
      [label]="!loggedIn ? 'Login' : profile.name"
      [model]="!loggedIn ? loginItems : items"
      styleClass="p-button-rounded p-button-lg"
      [style]="{ height: '50px' }"
    >
      <ng-template pTemplate="content">
        <div *ngIf="!loggedIn" class="flex align-items-center">
          <p-avatar shape="circle" styleClass="mr-2"
            ><i class="fa-solid fa-user"></i
          ></p-avatar>
          <a class="link text-black-alpha-90" [href]="this.AUTH_LINK">Login</a>
        </div>
        <div *ngIf="loggedIn" class="flex align-items-center">
          <p-avatar
            [image]="profile.images[0].url"
            shape="circle"
            styleClass="mr-2"
          ></p-avatar>
          <span class="ml-2 align-items-start" (click)="navigate('profile')">{{
            profile.name
          }}</span>
        </div>
      </ng-template>
    </p-splitButton>
  </div>
</div>
<div class="grid grid-nogutter">
  <div class="col-3"><spotify-sidenav></spotify-sidenav></div>
  <div #content class="col-9"><router-outlet></router-outlet></div>
</div>
