<p-toast (onClose)="reload($event)"></p-toast>
<p-steps
  [model]="steps"
  [activeIndex]="currentStep"
  [readonly]="true"
></p-steps>
<div
  *ngIf="currentStep === 0"
  class="card grid grid-nogutter col-12 h-5rem md:h-10rem lg:h-11rem xl:h-18rem"
>
  <form class="card form formgrid mt-2" [formGroup]="playlistForm">
    <div class="flex flex-column">
      <div class="col-12 mb-2">
        <div class="flex flex-row">
          <span class="p-float-label mr-2">
            <input type="text" id="name" pInputText formControlName="name" />
            <label for="name" class="p-float-label">Playlist name</label>
          </span>
          <p-chip
            [label]="name.value.length + ' / 100'"
            [styleClass]="
              name.value.length === 0 || name.value.length > 100
                ? 'bg-red-700 text-white-alpha-80'
                : 'bg-primary-500 text-black-alpha-80'
            "
          ></p-chip>
        </div>
      </div>
      <div class="col-12">
        <div class="flex flex-row">
          <span class="p-float-label">
            <textarea
              pInputTextarea
              id="description"
              rows="4"
              cols="80"
              formControlName="description"
            ></textarea>
            <label for="description">Description</label>
          </span>
          <p-chip
            [label]="description.value.length + ' / 300'"
            [styleClass]="
              description.value.length > 300
                ? 'bg-red-700 text-white-alpha-80'
                : 'bg-primary-500 text-black-alpha-80'
            "
          ></p-chip>
        </div>
      </div>
      <div class="flex flex-row col-6">
        <div class="col-6">
          <label class="font-bold">Playlist scope</label>
          <div class="flex flex-row mt-2">
            <p-inputSwitch
              formControlName="public"
              styleClass="mr-2"
            ></p-inputSwitch>
            <p-chip
              [styleClass]="
                public.value === true
                  ? 'bg-primary-500 text-black-alpha-80'
                  : 'bg-grey-500'
              "
              [label]="public.value === false ? 'Private' : 'Public'"
            ></p-chip>
          </div>
        </div>
        <div class="col-6">
          <label class="font-bold">Collaborative</label>
          <div class="flex flex-row mt-2">
            <p-inputSwitch
              formControlName="collaborative"
              styleClass="mr-2"
            ></p-inputSwitch>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
<div *ngIf="currentStep === 1" class="card col-12 flex test">
  <p-fileUpload
    [multiple]="false"
    accept="image/*"
    chooseLabel="Choose image"
    uploadLabel="Upload image"
    (onSelect)="uploadedImage = $event.files[0]"
    [customUpload]="true"
    (uploadHandler)="uploadImage($event.files[0])"
  >
  </p-fileUpload>
</div>
<div
  *ngIf="currentStep === 2 && savedSongs"
  class="card col-12"
  style="flex-grow: 3"
>
  <form class="card form formgrid mt-2" [formGroup]="songForm">
    <p-table
      #dt
      [value]="savedSongs"
      [scrollable]="true"
      scrollHeight="40vh"
      [classList]="'table'"
      [globalFilterFields]="['name', 'artist.name', 'album.name']"
    >
      <ng-template pTemplate="caption">
        <div class="flex flex-row w-12">
          <div class="w-9">
            <h5>Number of songs: {{ songs.controls.length }}</h5>
            <span *ngIf="maxSongError" class="text-red-700"
              >Limited to add 100 songs</span
            >
          </div>
          <div class="w-3">
            <span class="p-float-label">
              <input
                #search
                id="float-input"
                name="filter"
                type="text"
                pInputText
                placeholder="Search for keyword"
                (input)="dt.filterGlobal(search.value, 'contains')"
              />
              <label for="float-input">Search</label>
            </span>
          </div>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr style="position: sticky">
          <th></th>
          <th style="flex: 1 1 60%">Name</th>
          <th>Artist</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-savedSong let-index="rowIndex">
        <tr [pReorderableRow]="index">
          <td>
            <p-button
              pRipple
              type="button"
              class="p-button-rounded"
              [icon]="
                checkSong(savedSong.uri)
                  ? 'fa-solid fa-minus'
                  : 'fa-solid fa-plus'
              "
              [styleClass]="
                checkSong(savedSong.uri)
                  ? 'p-button-danger'
                  : 'p-button-success'
              "
              (click)="addSong(savedSong.uri); checkSong(savedSong.uri)"
            >
            </p-button>
          </td>
          <td style="flex: 1 1 60%">{{ savedSong.name }}</td>
          <td>{{ savedSong.artist.name }}</td>
        </tr>
      </ng-template>
    </p-table>
  </form>
</div>
<div
  class="flex flex-row flex-auto justify-content-between controls"
  style="flex-grow: 1"
>
  <button
    pButton
    pRipple
    type="button"
    label="Go back"
    icon="fa-solid fa-angles-left"
    (click)="goBack()"
    [disabled]="currentStep === 0"
  ></button>
  <button
    pButton
    pRipple
    type="button"
    [label]="hasSubmittedStep[currentStep] ? 'Update' : 'Submit'"
    [icon]="
      loading ? 'fa-solid fa-circle-notch fa-spin' : 'fa-solid fa-angles-right'
    "
    [iconPos]="loading ? 'left' : 'right'"
    (click)="advance()"
    [disabled]="loading"
  ></button>
</div>
