<div>
  <mat-card
    style="
      text-align: center;
      align-items: center;
      display: flex;
      flex-direction: column;
    "
  >
    <mat-card-header>
      <img mat-card-avatar src="/assets/Kevin.jpg" />
      <div mat-card-avatar class="icon"></div>
      <mat-card-title>Welcome to Spotify Clone</mat-card-title>
      <mat-card-subtitle
        >Developed in Angular using version 14.0.6</mat-card-subtitle
      >
    </mat-card-header>
    <mat-card-content>
      <p>Would you like to login?</p>
    </mat-card-content>
    <mat-card-actions>
      <a mat-raised-button color="primary" [href]="AUTH_LINK">Login</a>
    </mat-card-actions>
  </mat-card>
</div>
