<div
  class="fadein animation-linear animation-duration-1000 flex flex-row h-full justify-content-center align-items-center"
>
  <p-card subheader="Developed in Angular using version 14.0.6">
    <ng-template pTemplate="header">
      <div class="flex flex-row">
        <img
          src="assets/Kevin.jpg"
          style="width: 100px; height: 100px; margin: 1rem"
        />
        <p class="text-2xl text-primary-500 mt-2 mr-1 mb-0">
          Welcome to Spotify Clone
        </p>
      </div>
    </ng-template>
    <ng-template pTemplate="content">
      <p class="text-2xl text-primary-500 m-0">Would you like to login?</p>
    </ng-template>
    <ng-template pTemplate="footer">
      <a pButton pRipple type="button" label="Login" [href]="this.AUTH_LINK"
        ><fa-icon
          icon="arrow-right-to-bracket"
          style="margin-right: 1rem"
        ></fa-icon
      ></a>
    </ng-template>
  </p-card>
</div>
