<p-toast></p-toast>
<div *ngIf="!album">
  <loading-album></loading-album>
</div>
<div *ngIf="album">
  <p-table
    #dt
    [value]="album.tracks ?? []"
    [scrollable]="true"
    scrollHeight="400px"
  >
    <ng-template pTemplate="caption">
      <div class="flex flex-row w-12">
        <div class="flex w-4 xl:w-3 justify-content-center">
          <img
            [src]="album.images[0].url"
            class="w-9rem md:w-11rem lg:w-15rem h-9rem md:h-11rem lg:h-15rem"
          />
        </div>
        <div class="flex flex-column ml-2 w-6 xl:w-6 justify-content-center">
          <div class="flex-auto">
            <h1 class="mt-0 mb-2 text-primary">{{ album.name }}</h1>
            <h3 class="mt-0 text-secondary">{{ album.artists[0].name }}</h3>
          </div>
          <div class="flex flex-column flex-initial gap-1">
            <div>
              <i class="fa-solid fa-music"></i>
              <span class="ml-2">{{ album.tracks?.length }} songs</span>
            </div>
            <div>
              <i class="fa-solid fa-stopwatch"></i>
              <span class="ml-2">{{ duration }}</span>
            </div>
            <div>
              <i class="fa-solid fa-calendar"></i>
              <span class="ml-2">{{ album.date | date: "MM/dd/yyyy" }}</span>
            </div>
          </div>
          <div class="flex mt-2 gap-3">
            <button
              pButton
              pRipple
              type="button"
              label="Play"
              icon="fa-solid fa-circle-play"
              class="p-button-success p-button-lg mt-2"
            ></button>
            <button
              pButton
              pRipple
              type="button"
              [label]="following ? 'Unfollow' : 'Follow'"
              icon="fa-solid fa-heart"
              class="p-button-lg mt-2"
              (click)="toggleFollow()"
            ></button>
          </div>
        </div>
        <div
          class="flex flex-column w-2 xl:w-3 justify-content-center text-center"
        >
          <h2>Popularity</h2>
          <p-knob
            [ngModel]="album.popularity"
            [readonly]="true"
            [valueColor]="getPopularityColor(album.popularity)"
          ></p-knob>
        </div>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th style="flex: 1 1 5%">Order</th>
        <th style="flex: 1 1 70%" pSortableColumn="name">
          Name <p-sortIcon field="name"></p-sortIcon>
        </th>
        <th style="flex: 1 1 10%" pSortableColumn="duration">
          Duration <p-sortIcon field="duration"></p-sortIcon>
        </th>
        <th style="flex: 1 1 15%" pSortableColumn="popularity">
          Popularity <p-sortIcon field="popularity"></p-sortIcon>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-track>
      <tr>
        <td style="flex: 1 1 5%">{{ track.number }}</td>
        <td style="flex: 1 1 70%">{{ track.name }}</td>
        <td style="flex: 1 1 10%">{{ track.duration | date: "m:ss" }}</td>
        <td style="flex: 1 1 15%">
          <p-knob
            [ngModel]="track.popularity"
            [readonly]="true"
            [size]="60"
            [valueColor]="getPopularityColor(track.popularity)"
          ></p-knob>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
