<div *ngIf="!album">
  <loading-album></loading-album>
</div>
<div *ngIf="album">
  <p-table #dt [scrollable]="true" scrollHeight="400px">
    <ng-template pTemplate="caption">
      <div class="flex flex-row sticky w-12">
        <div class="flex w-4 xl:w-3 align-items-center">
          <img
            [src]="album.images[0].url"
            class="w-9rem md:w-11rem lg:w-15rem h-9rem md:h-11rem lg:h-15rem"
          />
        </div>
        <div class="flex flex-column w-4 xl:w-6 justify-content-center">
          <div class="flex-auto">
            <h1 class="mt-0 mb-2 text-primary">{{ album.name }}</h1>
            <h3 class="mt-0 text-secondary">{{ album.artists[0].name }}</h3>
          </div>
          <div class="flex flex-column ml-2 flex-initial gap-1">
            <div>
              <fa-icon icon="music"></fa-icon>
              <span class="ml-2">{{ album.tracks.length }} songs</span>
            </div>
            <div>
              <fa-icon icon="stopwatch"></fa-icon>
              <span class="ml-2">{{ length }}</span>
            </div>
          </div>
          <span class="p-button-set mt-2">
            <button
              pButton
              pRipple
              type="button"
              label="Play"
              class="p-button-success p-button-lg mt-2"
            >
              <fa-icon icon="circle-play" class="mr-2"></fa-icon>
            </button>
            <button
              pButton
              pRipple
              type="button"
              label="Edit"
              class="p-button-info p-button-lg mt-2"
            >
              <fa-icon icon="pen-to-square" class="mr-2"></fa-icon>
            </button>
            <p-confirmPopup></p-confirmPopup>
            <button
              pButton
              pRipple
              type="button"
              label="Delete"
              class="p-button-danger p-button-lg mt-2"
            >
              <fa-icon icon="trash" class="mr-2"></fa-icon>
            </button>
          </span>
          <!-- <div class="flex flex-row my-2">
          </div> -->
        </div>
      </div>
    </ng-template>
  </p-table>
</div>
