// General
$primary-text: hsl(0, 0%, 90%);
$secondary-text: hsl(0, 0%, 70%);
$border-radius: 3px;
$disabled-opacity: 0.4;

// Primary
$primary-color: hsl(141, 76%, 48%);
$primary-color-txt: hsl(0, 11%, 9%);
$highlight-bg: hsl(141, 76%, 20%);
$highlight-bg-txt: $primary-text;
$hover-bg: hsl(141, 76%, 40%);
$focus-outline: hsl(141, 76%, 40%);
$error-color: hsl(0, 70%, 50%);

// Surfaces
$ground: hsl(0, 0%, 7%);
$content: hsl(0, 0%, 12%);
$border: hsl(0, 0%, 22%);

// Forms:
$form-bg: hsl(0, 0%, 7%);
$hover-border: $primary-color;
$focus-border: $primary-color;
$filled-bg: hsl(0, 0%, 22%);

// Buttons
$prim-bg: $primary-color;
$prim-txt: $primary-color-txt;
$sec-bg: $primary-color-txt;
$sec-txt: $primary-color;
$suc-bg: hsl(110, 70%, 50%);
$suc-txt: hsl(0, 0%, 7%);
$info-bg: hsl(200, 70%, 50%);
$info-txt: hsl(0, 0%, 7%);
$warning-bg: hsl(60, 70%, 50%);
$warning-txt: hsl(0, 0%, 7%);
$help-bg: hsl(280, 70%, 50%);
$help-txt: hsl(0, 0%, 7%);
$danger-bg: hsl(0, 70%, 50%);
$danger-txt: hsl(0, 0%, 7%);

// Messages
$info: hsl(210, 50%, 50%);
$info-border: hsl(210, 50%, 30%);
$info-color: hsl(210, 50%, 20%);
$success: hsl(120, 50%, 50%);
$success-border: hsl(120, 50%, 30%);
$success-color: hsl(120, 50%, 20%);
$warning: hsl(60, 50%, 50%);
$warning-border: hsl(60, 50%, 30%);
$warning-color: hsl(60, 50%, 20%);
$error: hsl(350, 50%, 50%);
$error-border: hsl(350, 50%, 30%);
$error-color: hsl(350, 50%, 20%);

/* Extras */

// Error hover
$error-hover: hsl(0, 70%, 65%);

// Filled
$prim-fill-bg-hover: hsl(141, 76%, 40%);
$prim-fill-bg-active: hsl(141, 76%, 30%);
$sec-fill-bg-hover: hsl(0, 11%, 7%);
$sec-fill-bg-active: hsl(0, 11%, 5%);
$suc-fill-bg-hover: hsl(110, 70%, 40%);
$suc-fill-bg-active: hsl(110, 70%, 30%);
$info-fill-bg-hover: hsl(200, 70%, 40%);
$info-fill-bg-active: hsl(200, 70%, 30%);
$warning-fill-bg-hover: hsl(60, 70%, 40%);
$warning-fill-bg-active: hsl(60, 70%, 30%);
$help-fill-bg-hover: hsl(280, 70%, 40%);
$help-fill-bg-active: hsl(280, 70%, 30%);
$danger-fill-bg-hover: hsl(0, 70%, 40%);
$danger-fill-bg-active: hsl(0, 70%, 30%);

// Outlined
$prim-out-bg-hover: hsla(141, 76%, 48%, 0.04);
$prim-out-bg-active: hsla(141, 76%, 48%, 0.16);
$sec-out-bg-hover: hsla(0, 11%, 9%, 0.04);
$sec-out-bg-active: hsla(0, 11%, 9%, 0.16);
$suc-out-bg-hover: hsla(110, 70%, 50%, 0.04);
$suc-out-bg-active: hsla(110, 70%, 50%, 0.16);
$info-out-bg-hover: hsla(200, 70%, 50%, 0.04);
$info-out-bg-active: hsla(200, 70%, 50%, 0.16);
$warning-out-bg-hover: hsla(60, 70%, 50%, 0.04);
$warning-out-bg-active: hsla(60, 70%, 50%, 0.16);
$help-out-bg-hover: hsla(280, 70%, 50%, 0.04);
$help-out-bg-active: hsla(280, 70%, 50%, 0.16);
$danger-out-bg-hover: hsla(0, 70%, 50%, 0.04);
$danger-out-bg-active: hsla(0, 70%, 50%, 0.16);

// MISC
$filled-active: hsl(141, 76%, 35%);
$filled-hover: hsl(141, 76%, 42%);
