<div style="display: flex; flex-direction: row; position: sticky">
  <!-- <img mat-card-xl-image src="{{ playlist.images[0].url }}" /> -->
  <div>
    <div style="position: sticky; top: 0; position: -webkit-sticky">
      <h1 style="position: sticky">{{ playlist.name }}</h1>
      <h4>{{ playlist.owner.name }}</h4>
    </div>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam praesentium
      tenetur, et non doloremque facere dolores. Nisi possimus magni dolores,
      nemo quibusdam laboriosam error eaque similique quidem accusantium
      molestiae. Repellendus.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam praesentium
      tenetur, et non doloremque facere dolores. Nisi possimus magni dolores,
      nemo quibusdam laboriosam error eaque similique quidem accusantium
      molestiae. Repellendus.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam praesentium
      tenetur, et non doloremque facere dolores. Nisi possimus magni dolores,
      nemo quibusdam laboriosam error eaque similique quidem accusantium
      molestiae. Repellendus.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam praesentium
      tenetur, et non doloremque facere dolores. Nisi possimus magni dolores,
      nemo quibusdam laboriosam error eaque similique quidem accusantium
      molestiae. Repellendus.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam praesentium
      tenetur, et non doloremque facere dolores. Nisi possimus magni dolores,
      nemo quibusdam laboriosam error eaque similique quidem accusantium
      molestiae. Repellendus.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam praesentium
      tenetur, et non doloremque facere dolores. Nisi possimus magni dolores,
      nemo quibusdam laboriosam error eaque similique quidem accusantium
      molestiae. Repellendus.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam praesentium
      tenetur, et non doloremque facere dolores. Nisi possimus magni dolores,
      nemo quibusdam laboriosam error eaque similique quidem accusantium
      molestiae. Repellendus.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam praesentium
      tenetur, et non doloremque facere dolores. Nisi possimus magni dolores,
      nemo quibusdam laboriosam error eaque similique quidem accusantium
      molestiae. Repellendus.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam praesentium
      tenetur, et non doloremque facere dolores. Nisi possimus magni dolores,
      nemo quibusdam laboriosam error eaque similique quidem accusantium
      molestiae. Repellendus.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam praesentium
      tenetur, et non doloremque facere dolores. Nisi possimus magni dolores,
      nemo quibusdam laboriosam error eaque similique quidem accusantium
      molestiae. Repellendus.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam praesentium
      tenetur, et non doloremque facere dolores. Nisi possimus magni dolores,
      nemo quibusdam laboriosam error eaque similique quidem accusantium
      molestiae. Repellendus.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam praesentium
      tenetur, et non doloremque facere dolores. Nisi possimus magni dolores,
      nemo quibusdam laboriosam error eaque similique quidem accusantium
      molestiae. Repellendus.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam praesentium
      tenetur, et non doloremque facere dolores. Nisi possimus magni dolores,
      nemo quibusdam laboriosam error eaque similique quidem accusantium
      molestiae. Repellendus.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam praesentium
      tenetur, et non doloremque facere dolores. Nisi possimus magni dolores,
      nemo quibusdam laboriosam error eaque similique quidem accusantium
      molestiae. Repellendus.
    </p>
  </div>
</div>
