<p-card>
  <div class="grid grid-nogutter w-12 mt-1">
    <div class="flex col-3 justify-content-center">
      <p-skeleton shap="square" width="200px" height="200px"></p-skeleton>
    </div>
    <div class="flex flex-column col-9">
      <p-skeleton></p-skeleton>
      <div class="flex flex-row flex-wrap col-12">
        <div class="flex flex-row flex-wrap col-12">
          <div class="col-1">
            <p-skeleton shape="square"></p-skeleton>
          </div>
          <div class="col-11">
            <p-skeleton></p-skeleton>
          </div>
          <div class="col-1">
            <p-skeleton shape="square"></p-skeleton>
          </div>
          <div class="col-11">
            <p-skeleton></p-skeleton>
          </div>
          <div class="col-1">
            <p-skeleton shape="square"></p-skeleton>
          </div>
          <div class="col-11">
            <p-skeleton></p-skeleton>
          </div>
          <div class="col-1">
            <p-skeleton shape="square"></p-skeleton>
          </div>
          <div class="col-11">
            <p-skeleton></p-skeleton>
          </div>
        </div>
      </div>
    </div>
  </div>
  <p-skeleton height="20vh"></p-skeleton>
</p-card>
