.sidenav {
  width: 20%;
  padding: 3px;
}

.sidenav-content {
  display: flex;
  height: calc(100vh - 64px);
  width: 100vw;
  // align-items: center;
  // justify-content: center;
}

.sidenav-button {
  width: 100%;
  text-align: left;
  font-size: 1rem;
  justify-content: center;
  color: hsl(132, 6%, 60%);
  &:hover {
    color: black;
  }
}

.sidenav-icon {
  margin-right: 20px;
}

.dark-theme .sidenav-button:hover {
  color: white;
}


.space {
  $space: 0.5rem;
  margin-top: $space;
  margin-bottom: $space;
}
