<div class="flex flex-column" style="height: calc(100vh - 89px)">
  <div class="">
    <p-card>
      <div
        class="menu-item col-12 flex flex-row justify-content-start hover:text-primary"
        (click)="navigate('dashboard')"
      >
        <i
          class="fa-solid fa-house-chimney-user"
          style="font-size: 1.5rem; margin-right: 1rem"
          pTooltip="Home"
          [showDelay]="250"
          [hideDelay]="100"
          [tooltipDisabled]="homeSpan === undefined"
        ></i>
        <span #homeSpan class="mt-0 text-lg lg:text-2xl hidden md:inline-block"
          >Home</span
        >
      </div>
      <div
        class="menu-item col-12 flex flex-row justify-content-start hover:text-primary"
        (click)="createPlaylistDialog()"
      >
        <i
          class="fa-solid fa-folder-plus"
          style="font-size: 1.5rem; margin-right: 1rem"
          pTooltip="Create a playlist"
          [showDelay]="250"
          [hideDelay]="100"
          [tooltipDisabled]="playlistSpan === undefined"
        ></i>
        <span
          #playlistSpan
          class="mt-0 text-lg lg:text-2xl hidden md:inline-block"
        >
          Create a playlist
        </span>
      </div>
      <div
        class="menu-item col-12 flex flex-row justify-content-start hover:text-primary"
        (click)="navigate('library')"
      >
        <i
          class="fa-solid fa-book-bookmark"
          style="font-size: 1.5rem; margin-right: 1rem"
          pTooltip="Library"
          [showDelay]="250"
          [hideDelay]="100"
          [tooltipDisabled]="likedSpan === undefined"
        ></i>
        <span
          #librarySpan
          class="mt-0 text-lg lg:text-2xl hidden md:inline-block"
          >Library</span
        >
      </div>
      <div
        class="menu-item col-12 flex flex-row justify-content-start hover:text-primary-500"
        (click)="navigate('library')"
      >
        <i
          class="fa-solid fa-heart-circle-check"
          style="font-size: 1.5rem; margin-right: 1rem"
          pTooltip="Liked Songs"
          [showDelay]="250"
          [hideDelay]="100"
          [tooltipDisabled]="likedSpan === undefined"
        ></i>
        <span
          #likedSpan
          class="mt-0 text-lg lg:text-2xl hidden sm:inline-block"
        >
          Liked Songs
        </span>
      </div>
      <div
        *ngIf="profile.name === ''"
        class="col-12 flex flex-column justify-content-center"
      >
        <p-divider></p-divider><br />
        <a
          pButton
          pRipple
          type="button"
          label="Login"
          icon="fa-solid fa-arrow-right-to-bracket"
          class="p-button-lg"
          [href]="AUTH_LINK"
        ></a>
      </div>
    </p-card>
  </div>
  <!-- TODO ScrollPanel for playlists -->
  <div class="flex-auto" style="background-color: #1e1e1e">
    <div *ngIf="profile.name === ''" class="ml-1">
      <span>Welcome to Spotify Clone</span><br />
      <span>Please login to start listening to your music :)</span>
    </div>
    <div *ngIf="profile.name !== ''">
      <!-- TODO Responsive scrollPanel-->
      <p-scrollPanel
        styleClass="w-12 text-sm lg:text-lg"
        [style]="{ width: '100%', height: '62vh' }"
      >
        <div class="ml-1 justify-items-center">
          <p-fieldset
            *ngIf="recent"
            [toggleable]="true"
            legend="Recently Played"
          >
            <div *ngFor="let track of recent" class="grid grid-nogutter col-12">
              <div class="col-2">
                <img
                  [src]="track.album.images[0].url"
                  style="width: 40px; height: 40px"
                />
              </div>
              <div class="flex flex-column col-6">
                <div class="text-overflow-ellipsis">
                  <span class="overflow-hidden text-overflow-ellipsis">{{
                    track.name
                  }}</span>
                </div>
                <span class="text-overflow-ellipsis">{{
                  track.artists[0].name
                }}</span>
              </div>
              <div class="flex flex-column col-4">
                <div>
                  <i class="fa-solid fa-calendar"></i>
                  <span>{{ track.date | date: "E hh:mm" }}</span>
                </div>
                <div>
                  <i class="fa-solid fa-clock"></i>
                  <span>{{ track.duration | date: "mm:ss" }}</span>
                </div>
              </div>
            </div>
          </p-fieldset>
          <br />
          <p-fieldset *ngIf="playlists" [toggleable]="true" legend="Playlists">
            <div
              *ngFor="let playlist of playlists"
              class="grid grid--nogutter col-12"
            >
              <div class="col-2">
                <img
                  [src]="playlist.images[0].url"
                  style="width: 40px; height: 40px"
                />
              </div>
              <div class="flex flex-column col-6">
                <div class="text-overflow-ellipsis">
                  <span
                    class="overflow-hidden text-overflow-ellipsis"
                    (click)="navigate('playlist/' + playlist.id)"
                    >{{ playlist.name }}</span
                  >
                </div>
                <span class="text-overflow-ellipsis">{{
                  playlist.owner.name
                }}</span>
              </div>
            </div>
          </p-fieldset>
        </div>
      </p-scrollPanel>
    </div>
  </div>
</div>
