.spacer {
  flex: 1 1 auto;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

a {
  text-decoration: none;
}

// TODO Add custom styling for PrimeNG
$my-color: hsl(141, 76%, 48%);
