@use "@angular/material" as mat;
// @use "./material-theme/themes" as palette;
@use "./material-theme/palette" as palette;
@include mat.core();

$warn: mat.define-palette(mat.$orange-palette);
$light-green: mat.define-palette(palette.$green, 500);
$dark-green: mat.define-palette(palette.$green, 900);
$grey-palette: mat.define-palette(palette.$grey);

$light-theme: mat.define-light-theme(
  (
    color: (
      primary: $dark-green,
      accent: $grey-palette,
      warn: $warn,
    ),
  )
);

$dark-theme: mat.define-dark-theme(
  (
    color: (
      primary: $light-green,
      accent: $grey-palette,
      warn: $warn,
    ),
  )
);

@include mat.all-component-themes($light-theme);

.dark-theme {
  @include mat.all-component-themes($dark-theme);
}

$light-config: mat.get-color-config($light-theme);
$dark-config: mat.get-color-config($dark-theme);

body {
  margin: 0;
  flex: 1 1 auto;
  // height: 100%;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
body .dark-theme {
  background-color: black;
}
